body {
    font-family: 'Open Sans', sans-serif !important;
}

.botaoApp {
    background-color: #bac834;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.infoQtd {
    width: 25px;
    height: 21px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.43);
    color: #576747;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 3px;
}

.nomeAtendente {
    background-color: rgba(197, 197, 197, 0.09);
    padding: 3px;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
}

.caixaCliente
{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-color: #E4EDC1;
    box-shadow: 1px 3px 10px #424040;
}

.caixaPrimeiroAcesso
{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-color: #E4EDC1;
}

.caixaChat
{
    width: 280px;
    background-color: #FFF;
    height: 450px;
    background-color: #E4EDC1;
    box-shadow: 1px 3px 10px #424040;
}


.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.md-button.md-fab.md-mini {
    line-height: 30px !important;
    width: 34px !important;
    height: 30px !important;
    padding-left: 5px !important;
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
    color: rgb(103, 41, 41) !important;
    background-color: rgb(130, 66, 50) !important;
    font-size: 14px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px !important;
}

.md-button.md-default-theme.md-fab, .md-button.md-fab
{
    background-color: rgb(206, 216, 35);
    color: rgb(102, 153, 51);
}

.md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover
{
    background-color: rgb(206, 216, 35);
}

.apareceChat
{
    display: flex;
}

.someChat
{
    display: none;
}

.localGridSelecione
{
    padding: 5px;
}

.logoChat
{
    width: 60px;
    height: 50px;
     padding: 5px;
}

.logoChatPeq
{
    width: 38px;
    height: 38  px;
    margin-top: 2px;
}

.localLogoChat
{
    text-align: left;
    background-color: #86a567;
    height: 40px;
}

.gridSelecione>thead
{
     background-color: #D5E5AD !important;    
     display: none;
}

.gridSelecione
{
    background-color: #FFF;
    font-size: 12px;
    margin-bottom: 0px;
}

.btAudio
{
	margin-top: 4px;
    margin-right: 5px;	
}

.formSelecioneAtendimento
{
    width: 100%;
    background-color: #919482;
    box-shadow: 1px 3px 10px #424040;
}

.estiloAtendimento
{
    padding: 5px;
    border-radius: 8px;
    background-color: #B4D37D;
    max-width: 150px;
    min-width: 60px;
    font-size: 13px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.estiloAdm
{
    padding: 5px;
    border-radius: 8px;
    min-width: 60px;
    font-size: 13px;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 5px;
    background-color: #B8DFDB;
}


.setaCliente_Remetente
{
    width: 0;
    height: 0;  
    border-top: 8px solid transparent;  
    border-bottom: 8px solid transparent;   
    border-left: 8px solid #D0DB3A;
}

.setaCliente_Destinatario
{
    width: 0;
    height: 0;  
    border-top: 8px solid transparent;  
    border-bottom: 8px solid transparent;   
    border-right: 8px solid #B4D37D;
    margin: auto 0px;
}

.estiloCliente
{
    padding: 5px;
    font-size: 12px;
    word-wrap: break-word;
}

.estiloCaixaCliente
{
    padding: 5px;
    border-radius: 8px; 
    background-color: #D0DB3A;
    /*box-shadow: 1px 1px 4px rgba(70, 69, 69, 0.76);*/
    margin-bottom: 5px;
}

.caixaDigitando{
    position: relative;
    background-color: #BDBCBB;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 4px rgba(70, 69, 69, 0.76);
    text-align: center;
    z-index: 100;
    /* left: 80px; */
    top: 12px;
    font-size: 11px;
    font-weight: 600;
}

.caixaDigitandoAtendendente{
        position: relative;
    background-color: #bac834;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 4px rgba(70, 69, 69, 0.76);
    text-align: center;
    z-index: 100;
    /* left: 80px; */
    top: 12px;
    font-size: 11px;
    font-weight: 800;
    color: #FFFFFF;
}

.caixaDigitarCliente
{
    height: 52px;
    z-index: 0;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 8px;
    margin-top: 0px;	
    margin-left: 2px;
    padding-top: 10px;
}
.estrelaNota {
    width: 42px;
    height: 42px;
}

.setaAtendimento_Remetente {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #f5f3f3;
}

.setaAtendimento_Destinatario {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #b6c23c;
    margin: auto 0px;
}

.caixaDataChat {
    background-color: rgb(191, 186, 174);
    padding: 5px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
    margin-top: 2px;
    color: #6d7367;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
    font-weight: bold;
}

.estiloAtendimento_Remetente {
    padding: 8px;
    border-radius: 8px;
    background-color: #f5f3f3;
    /* box-shadow: 1px 1px 4px rgba(70, 69, 69, 0.76); */
    max-width: 150px;
    min-width: 60px;
    font-size: 12px;
    margin-bottom: 5px;
}

.estiloAtendimento_Destinatario {
    padding: 8px;
    border-radius: 8px;
    background-color: #b6c23c;
    /* box-shadow: 1px 1px 4px rgba(70, 69, 69, 0.76); */
    max-width: 150px;
    min-width: 60px;
    font-size: 12px;
    margin-bottom: 5px;
}

.templateCliente{

    width: 100%;
}

.templateAtendimento{

    width: 100%;
}

.headerCliente
{
    padding: 10px;
    padding-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.36);
    margin: 5px;
	display:none !important    
}

.imgCliente
{
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border-color: darkgrey; 
    background-color: darkgrey;
}

.fab-speed
{
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 4px;    
}

.textoInfo
{
    font-size: 11px;
    padding-left: 15px;
}

.caixaInfoCliente
{
    margin-left: 0px;
    margin-right: 0px;
	display:none;
}

.listaConversaAtual
{
    padding: 8px

}

.caixaLista
{
    height: 100%;
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
}

.inputDigitar
{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.inputDigitarPrimeiroAcesso
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #adadad;
}

.botaoSelecionarTipoEnvio 
{
    width: 30px;
}

.botaoEnviarTexto
{
    width: 30px;
}