<div ng-controller="login as cx" layout="column" class="container-fluid screenManager" style="height: calc(100vh - 113px);">
    <div layout="row" class="alert" style="left: calc(50% - 52px);background-color: #b31616;">
        <div layout="row" style="    width: 50px;height: 39px;border-radius: 50px;position: relative;color: #FFFFFF;    padding-top: 6px; padding-left: 3px;">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 49px;width: 50px;"></i>
            <div flex style="    min-width: 184px;    font-weight: 700;    font-size: 13px;    margin-top: 18px;    margin-left: 20px; margin-right: 10px;">{{cx.responseText}}</div>
        </div>
    </div>

    <div layout="column" class="detailsClient boxClient" style="text-align: center;">

        <div ng-show="cx.clientValid.photoClient != ''" style="margin-left: 88px;    margin-bottom: 16px;border-radius: 136px;height: 136px;width: 136px;max-width: 136px;max-height: 136px;opacity: 0.8;    cursor: pointer;    text-shadow: none;    color: #585858;    padding-top: 7px;    margin-right: 45px;margin-top: 30px"
            class="caixaLetraInfo caixaLetra">
            <img class="bordaFotoUsuario" style="border: 2px solid #FFFFFF;height: 136px;border-radius: 136px;width: 136px;max-width: 136px;max-height: 136px;margin-top: -9px;"
                ng-src="{{cx.clientValid.photoClient}}" />
        </div>
        <i ng-show="cx.clientValid.photoClient == ''" class="fa fa-user-circle" aria-hidden="true" style="    color: #FFFFFF;font-size: 136px;    margin-left: 0;margin-top: 16px;margin-bottom: 10px;"></i>

        <div style="    color: #1f3444;font-size: 27px;font-weight: 700;margin-bottom: -11px;">Welcome</div>        
        <div class="labelForm" style="height: 38px;color: #FFFFFF;font-size: 23px;">{{cx.clientValid.nameClient}}</div>
        <div class="labelForm" style="color: #FFFFFF;font-size: 11px;margin-top: -15px;">{{cx.clientValid.emailClient}}</div>

        <div layout="row" style="margin-top: 18px;justify-content: center;">
                <button  ng-click="cx.hideClient()" class="buttomApp" style="    background-color: #263f57;width: 100px;">Close</button>
            </div>        
    </div>

    <div flex ng-show="cx.showWaiting == true" layout="row" style="text-align: center;    min-height: calc(100vh - 116px);background-color: rgb(38, 63, 87);left: 200px;width: 100%;z-index: 99999;">
        <div style="    width: 50px;height: 39px;border-radius: 50px;transform: translate(-50%,-50%);top: 50%;left: 50%;position: relative;">
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" style="color: #2d9fc3;font-size: 49px;"></i>
            <div class="loadingText" style="opacity: 0; margin-top:0px;">{{cx.loadingText}}</div>
        </div>
    </div>

    <div style="    transform: translate(-50%,-50%);top: 50%;left: 50%;position: relative;">
        <div layout="row" style="margin-top: 36px;justify-content: center;">
            <div>
                <i class="fa fa-unlock-alt" aria-hidden="true" style="    color: #FFFFFF;font-size: 136px;margin-left: 7px;margin-top: 16px;margin-right: 38px;"></i>
                <div style="text-align: center;color: #FFFFFF;margin-left: -26px;margin-top: 12px;font-weight: 700;font-size: 21px;">{{cx.textForm}}</div>
            </div>
            <div class="localFields" style="    border-left: 1px solid #ffffff1a;padding-left: 18px;margin-left: -11px;">
                <div class="labelForm" style="margin-bottom: -8px;">E-mail</div>
                <input ng-model="cx.emailClient" style="width: 247px;margin-top: 17px;" class="inputEmailLogin">
                <div class="labelForm">Password</div>
                <input ng-model="cx.passwordClient" style="width: 150px;" type="password">

                <div layout="row" style="margin-top: 18px;">
                    <button ng-disabled="cx.verifyFields()" ng-click="cx.login()" class="buttomApp" style="margin-right: 10px;width: 100px;">Login</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () { $('[data-toggle="tooltip"]').tooltip() });
    </script>
</div>